{"filter":false,"title":".gitignore","tooltip":"/terraform/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":13,"column":0},"action":"insert","lines":["# Terraform directories",".terraform/",".terraform.lock.hcl","","# Terraform state files","*.tfstate","*.tfstate.backup","","# Crash log","crash.log","","# Plan files","*.tfplan",""],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":13,"column":0},"end":{"row":13,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1749870577477,"hash":"04444a60e5a5ef2a7d43e6adf074cb4fdbdab975"}